.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: #ffffff;
}

.dashboard-main {
  margin-left: 235px;

  width: calc(100% - 235px);

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background: #ffffff;
}

.dashboard-content {
  flex: 1;

  padding: 30px;

  background: #ffffff;
}
